@import 'partials/section/choosingImprint';
@import 'partials/section/choosingGraphic';
@import 'partials/section/shippingInformation';
@import 'partials/section/orderSummary';
@import 'partials/section/finish';
@import './partials/nav';
@import './partials/footer';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
}

h1 {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.carousel {
	width: 100vw;
	height: 65%;
	position: relative;

	header {
		height: 20%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid black;
		font-size: 3rem;
	}
	article {
		position: absolute;
		inset: 0;
		opacity: 0;
		z-index: 0;
		transition: opacity 200ms ease-in-out;
		background-color: powderblue;
	}

	[article-active] {
		opacity: 10;
		z-index: 10;
		transition-delay: 200ms;
	}
	main {
		position: relative;
		height: 80%;

		.main__wrapper {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

button {
	background: none;
	border: none;
	cursor: pointer;
	border-radius: 0.25rem;
	padding: 0 0.5rem;
	background-color: rgba(0, 0, 0, 0.1);
}
button:disabled {
	cursor: not-allowed;
}

.grayscale {
	filter: grayscale(100%);
}
