@import 'partials/components/header';
@import 'partials/components/footer';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

section {
	background-color: #f1f1f1;
	padding: 20px;
}

#canvas {
	border: 5px solid #ccc;
}
